.welcome-title {
    color: #252782;
    font-weight: 700;
    letter-spacing: 1px;
}   


body {
    background-color: #e9dbb3 !important;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.custom-navbar {
    background-color: #1c1c1c;
}

.navbar a {
    color: #ccc !important;
    text-decoration: none;
    margin-left: 15px;
}

.navbar a:hover {
    color: white !important;
}

/* CARD */
.card {
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

/* BUTTONS */
.btn-dark {
    background-color: black;
    border: none;
    border-radius: 25px;
}

.btn-dark:hover {
    background-color: #333;
}

/* DELETE BUTTON */
.btn-danger {
    border-radius: 25px;
}

/* CENTER TEXT */
.center-text {
    text-align: center;
}

.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}

.btn-dark {
    transition: 0.3s;
}

.btn-dark:hover {
    transform: scale(1.05);
}

